.Loading-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 120px;
    height: 120px;
}
.Loading {
    border: 20px solid rgb(28, 144, 243);
    border-top: 20px solid rgb(6, 47, 79);
    border-radius: 50%;
    animation: spin-animation 2s linear infinite;
    width:inherit;
    height: inherit;
}
.Loading-container > b {
    text-align: center;
    color: rgb(28, 144, 243);
    font-size: 20px;
    position: absolute;
    /* margin: auto; */
    padding: 45px 0px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.Account-main {
    min-height: fit-content;
    height: 85vh;
    background: rgb(239, 243, 246);
}

.Account-header {
    height: 80px;
    background: rgb(28, 144, 243);
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.Account-navbar {
    flex-grow: 1;
    position: relative;
    max-width: 900px;
    clear: both;
    z-index: 2;
    padding: 0px 15px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.Account-brand {
    cursor: pointer;
    max-width: initial;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
}

.Account-brand:hover {
    text-decoration: none;
}

.Account-brand > img {
    height: 2.24rem;
    width: auto;
}

.Account-title {
    padding-left: 5px;
    font-size: 2.5em;
    flex-grow: 1;
    text-align: left;
    color: rgb(255,255,255);
}

.Account-button-container {
    display: flex;
    flex-flow: row nowrap;
}

.Account-button-link {
    color: rgb(255,255,255);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.Account-button-link > img {
    height: 1.68rem;
    width: auto;
}
.Account-button-link > img:hover {
    opacity: 0.7;
}

.Account-footer {
    background: rgb(6, 47, 79);
    overflow: hidden;
    
}

.Account-footer-container {
    position: relative;
    max-width: 900px;
    clear: both;
    z-index: 1;
    color: rgb(239, 243, 246);
    padding: 50px 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.Account-footer-copyright {
    text-align: left;
    width: 20%;
}

.Account-footer-link-container {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.Account-footer-link {
    box-shadow: none;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
    font-size: 20px;
    color: rgb(239, 243, 246);
    margin-left: 15px;
}

.Account-footer-link:hover {
    text-decoration: none;
    color: rgb(239, 243, 246);
    opacity: 0.7;
}

@media (max-width: 750px) {
    .Account-button-link {
        display: none;
    }
    .Account-title {
        font-size: 1.5rem;
    }
}