.Quote {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Futura PT','Spectral','Georgia','Times New Roman','Times',serif;
    font-weight: normal;
    font-size: 220%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    animation: appear 4s linear ;
}
.Quate-text    {
      /* width: 54%;  */
      max-width: 750px; 
      text-align: left;
      padding: 15px;
      
}
.Writer {
    font-size: 68%;
    padding: 15px;
}

@keyframes appear {
    from {color: aliceblue}
    to{color: black}
}
@media screen and (max-width: 500px){
    .Quote{
        font-size: 130%;
    }
    .Quate-text    {
        width: 100%;  
        text-align: left;
        
  }
}