.Tokeninfo{
    color: aliceblue;
    background-color: black;
    padding-bottom: 70px; 
    padding-top: 80px;
}

.info-form{
    padding: 10px;
}
.distribution > div{
    width: 42%;
    margin: 15px;
}
.distribution {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.info-img-line{
    width: 340px;
    height: auto;
}
.info-elements{
    display: flex;
    flex-flow: row wrap    
}
.info-elements > div{
    width: 22%;
    border-left: 2px rgb(71, 145, 255) solid; 
    padding: 15px;
}
.info-img{
    width: 240px;
    height: 255px;
    background: url(./infoimg.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: pulse 1.3s infinite; 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.info-img:hover{
    animation: none; 
}
.info-img{
    text-align: center;
}
.first{
    height: 210px;
}
.second{
    height: 110px;
}
.third{
    height: 120px;
}
.distribution{
    width: 605px;
}
.distribution > div > div{
    display: flex;
}
.dot  {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.income > div {
    display: flex;
    margin: 15px;
}
@media screen and (max-width:500px){
    .info-elements > div{
        width: 100%;
        border-left: 1px blue solid; 
        padding: 15px;
    }
    .first{
        height: auto;
    }
    .second{
        height:  auto;
    }
    .third{
        height:  auto;
    }
    .distribution > h1{
        font-size: 110%;
    }
    .distribution > div{
        width: 100%;
    }
    .info-img-line{
        width: 300px;
        height: auto;
    }
}