.Home-logo {
    height: 2.24rem;
    width: auto;
  }
  
  .Home-header {
    position: relative;
    z-index: 2;
    top: 0px;
    transition: all 0.3s ease;
    background-color: white;
    height: 10%;
    padding: 12px 12px;
    color: rgb(28, 144, 243);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px 0px;
    transform: none;
  }
  
  .Home-navbar {
    position: relative;
    max-width: 1110px;
    margin: auto;
    padding: 0px 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .Home-brand {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }
  .Home-title {
    padding-left: 5px;
    font-size: 2.5em;
    flex-grow: 1;
    text-align: left;
  }

  .Home-links {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  .Home-link {
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
    text-decoration: none;
    /* background-color: #F0B3BA */
  }
  .Home-link:hover {
    opacity: 0.7;
    text-decoration: none;
  }

  .account-link {
    padding: 7px 12px;
    border: 1px solid rgb(28, 144, 243);
    border-radius: 4px;
  }
  
  .fixed {
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px 0px;
    height: 3.64rem;
    padding: 0.7rem;
    /* transition: all 0.3s ease; */
    transform: none;
    height: max-content;
  }

  .shadow {
    display: inherit;
  }

  .Home-warning {
    background-color:rgb(243, 85, 74);
    text-align: center;
    font-weight: normal;
    min-height: 40px;
    padding: 10px 0px;
  }

  .Home-warning-text {
    color: white;
    max-width: 1110px;
    margin: auto;
    padding: 0px 15px;
  }
  
  @media (max-width: 767px) {
    .Home-navbar {
      /* justify-content: center; */
      padding: 20px 0px 20px 0px;
    }
  }
  
  @media (max-width: 500px) {
    .Home-links {
      justify-content: flex-end;
    }
    .Home-link {
      margin-left: 15px;
      font-size: 14px;
    }
    .shadow {
      display: none;
    }
  }