.Clients-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
#Clients-head{
    margin-left: 27%;
    margin-right: 27%;
    margin-bottom: 25px;
    border-bottom: 2px blue solid;
}
.Clients{
    text-align: center;
    padding-bottom: 70px;   
}
