.Connector {
    padding-bottom: 80px;
    padding-left: 15px;
    background-color: rgb(239, 243, 246);
}
.left-video  {
    width: auto;
    height: 150px;
    cursor: pointer;
}
.left-video:hover  {
    opacity: 0.7;
}
.right{
    font-size: 128%;
}

.left-text {
    font-size: 280%;
}
.connection-exeple> img{
    height: 160px;
}

.git-link{
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
}
.git-img>a>img{
    width: 30px;
    height: 30px;
    margin: 3px;
    margin-right: 15px;
}
.text-link{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    font-style: normal;
}
.text-link > a{
    color: #002133;
}
.text-link > a:hover{
    color: #002133;
    text-decoration: none;
    opacity: 0.7;
}
@media screen and (max-width:500px){
    .connection-exeple> img{
        width: 80%;
        height: auto;
    }
    .left-text {
        max-width: 100%;
    }
}