.Capabilities{
    background-color: #033753;
    color: azure;
    padding-bottom: 60px;
}
.form{
    max-width: 1110px;
    margin: auto;
    padding-top: 90px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.main{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.main-text-symbols{
    width: 100%;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
}
.main-text{
    width: 55%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 30px;
    
    animation: item-start 4s linear ;
}
.main-text > div > h1{
    font-size: 300%;
    padding-bottom: 20px;
}
.main-text > div > p {
    font-size: 130%;
}
.text-symbol > img {
    width: auto;
    height: 40px;
    margin-bottom: 20px;
}
.main-picture {
    width: 450px;
    height: 400px;
}
.main-picture > img{
    width:auto;
    height: 350px;
    margin: 20px 0 20px 20px;
    animation: picture-start 2s linear ;
}

.secondary{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top:60px; 

}
.tip{
    width: 30%;
    animation: item-start 3s linear ;
    padding: 15px;
}
.tip > strong {
    font-size: 140%;
}
.tip > div > img{
    height: 50px;
    width: auto;
}
@keyframes picture-start{
    from {    transform: translate3d(100%, 0px, 0px);}
    to {      transform: none;}
}
@media screen and (max-width:500px){
    .main-text{
        width: 100%;
        padding: 15px;
        
    }
    .main-picture > img{
        width: 290px;
        height: 290px;
        margin: 20px;
        animation: picture-start 2s linear ;
    }
    .main-text > div > h1{
        font-size: 130%;
        padding-bottom: 20px;
    }
    .main-text > div > p{
        font-size: 100%;
        padding-bottom: 20px;
    }
    .tip{
        width: 100%;
        animation: item-start 3s linear ;
    }
}