.Facts {
    background-color: dodgerblue;
    color: aliceblue;
    font-size: 120%;
    padding-bottom: 80px;
}
.fact-item > div{
    display: flex;
    flex-flow: row wrap;
}
.fact-item > div > div{
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    margin-left: 5px;

}
@media screen and (max-width:500px){
    
}