.Smart{
        background-color: rgb(239, 243, 246); 
        padding-bottom: 50px;

}
.smart-form{
    font-size: 135%;
    width: 100%;
    
}
.smart-left{
    width: 40%;
    padding: 10px;
}
.smart-left-link{
    color: rgb(190, 21, 21);
}
.smart-left-link:hover{
    color: rgb(190, 21, 21);
    text-decoration: none;
    opacity: 0.7;
}
.smart-center{
    width: 30%;
    font-size: 80%;
    padding: 10px;
}
.smart-right{
    width: 30%;
    padding: 10px;
}
.smart-img {
    width: auto;
    height: 100px;
    padding: 10px;
}
@media screen and (max-width:500px){
    .smart-left{
        width: 100%;
    }
    .smart-center{
        width: 100%;
        font-size: 80%;
    }
    .smart-right{
        width: 100%;
    }
}